<%= form_with(model: credit_card_charge) do |form| %>
  <% if credit_card_charge.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(credit_card_charge.errors.count, "error") %> prohibited this credit_card_charge from being saved:</h2>

      <ul>
        <% credit_card_charge.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :paid, style: "display: block" %>
    <%= form.check_box :paid %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :currency, style: "display: block" %>
    <%= form.text_field :currency %>
  </div>

  <div>
    <%= form.label :refunded, style: "display: block" %>
    <%= form.check_box :refunded %>
  </div>

  <div>
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.text_field :customer_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
